//Bio Overview

.bio-overview-container {
  display: flex;
  height: 377px;
  width: 558px;
  padding: 30px 24px 0 24px;
}

.bio-overview-left {
  flex: 3;
}

.bio-overview-left ul {
  display: flex;
  flex-direction: column;
  height: 355px;
  justify-content: space-around;
}


.bio-overview-right {
  flex: 2;
}

.bio-overview-right ul {
  padding-left: 26px;
}

.bio-overview-right li {
  display: flex;
  padding-bottom: 16px;
}

.bio-overview-right li p {
  padding-left: 10px;
  font-size: 12px;
}

.bio-overview-right li i {
  color: #D3D6DB;
}

.bio-overview-item {
  border-bottom: 1px solid #E9EAED;
  min-height: 68px;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bio-overview-item:last-child {
  border-bottom: none;
}

.boi-container {
  display: flex;
  align-items: center;
  color: #00A44C;
}


.boi-container div {
  height: 36px;
  width: 36px;
  border: 1px dashed #00A44C;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.bio-category-container {
  padding: 30px 24px 0 24px;
}

.bio-category-item {
  min-height: 117px;
}

.bci-header {
  text-transform: uppercase;
  border-bottom: 1px solid #E9EAED;
  font-size: 12px;
  font-weight: 700;
  font-family: Helvetica, Arial, sans-serif;
  padding: 5px 0;
  color: #90949C;
}

.bci-body {
  margin-top: 10px;
  display: flex;
}

.bci-container {
  display: flex;
  align-items: center;
  color: #00A44C;
}

.bci-container div {
  height: 36px;
  width: 36px;
  border: 1px dashed #00A44C;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
