.mm-popup--visible {
  background-color: rgba(186, 80, 77, .7);
  border-radius: 5px;
  width: 280px;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: white;
  clear: both;
  font-size: 12px;
  margin-top: 20px;
  margin-left: 50px;
  text-align: center;
  position: fixed;
}

.mm-popup--visible button.mm-popup__btn--danger {
  background-color: rgba(186, 80, 77, .1);;

  margin-top: 10px;
  font-size: 12px;
}

.login-tagline {
  font-family: Helvetica, Arial;
  font-weight: 900;
}

.login-header {
  min-width: 1000px;
  background-color: #005829;
  height: 83px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  color: white;
}

.login-logo-container {
  margin-top: 50px;
  font-weight: 700;
  height: 83px;
  width: 170px;
  margin-left: 100px;
}

.login-form-container {
  margin-top: 20px;
  height: 83px;
  width: 492px;
}

.login-form-input {
  max-width: 40%;
  display: inline-block;
  padding: 10px;
}

.login-form-input input {
  border: 1px solid #1d2a5b;
  padding: 5px;
}

.login-form-container button {
  color: white;
  font-weight: bold;
  background-color: #005829;
  border: 1px solid #003318;
  padding: 5px;
  margin-right: 5px;
}

.login-form-container button:hover {
  background-color: #004b23;
}

.login-main {
  display: flex;
  width: 980px;
  height: 597px;
  margin: auto;
  padding: 20px 0;
  color: #333;
}

.login-main-left {
  margin-right: 16px;
}


.login-main-left h2 {
  padding: 42px 0 24px 0;
  display: inline-block;
  width: 400px;
}

.login-list-group {
  width: 565px;
}

.login-list-group > * {
  margin-top: 20px;
  padding-bottom: 10px;
  display: inline-block;
}

.login-list-group div:first-child {
  margin-right: 20px;
}

.login-list-group div:last-child {
  width: 440px;
}

.login-main-right {
  height: 557px;
  width: 399px;
}

.login-main-right h1 {
  margin-bottom: 5px;
}

.login-main-right > div:first-of-type {
  margin-bottom: 20px;
}

.login-main-right form > div:first-child {
  display: flex;
  width: 100%;
}

div.input-noerror, div.input-error {
  float: right;
  padding: 10px;
  color: #B94A48;
}

div.input-noerror {
  display: none;
}

.login-main-right form > div:first-of-type input:first-child{
  margin-right: 10px;
}

.signup-form input {
  width: 100%;
  box-sizing: border-box;
  padding: 8px 10px;
  border-radius: 5px;
  font-size: 18px;
  margin-bottom: 10px;
  border: 1px solid #bdc7d8;
}

.signup-form .input-error {
  border-color: red;
}

.input-noerror {
  border-color: #bdc7d8;
}

label.input-error {
  border: 1px solid black;
  border-radius: 5px;
}

.signup-bday-container {
  margin: 10px 0 5px 0;
}

.signup-bday-container div:first-child {
  margin-bottom: 5px
}

input[type="date"] {
  font-family: inherit;
  color: grey;
}
.signup-sex-container {
  margin: 10px 0;
  display: flex;
}

.signup-sex-container label {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.signup-sex-container label > * {
  width: 50%
}

.login-main-right button {
  background-color: #96837E;
  border: 1px solid #7C6D69;
  border-radius: 5px;
  padding: 7px 20px;
  font-size: 19px;
  color: white;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.sign-up-button {
  margin-top: 20px;
}

.signup-form {
  height: 393px;
  width: 399px;
}

.signup-form-row {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.signup-form-row div{
  margin: 0;
}

.login-footer {
  background-color: white;
  min-height: 29vh;
  color: #044A25;
  min-width: 1000px;
}

.login-footer > * {
  padding-top: 20px;
  margin-left: 20px;
  text-align: center;
}

.login-footer li {
  padding: 5px;
  display: inline-block;
  font-size: 12px;
}
