#nav-bar {
  background-color: #005829;
  height: 42px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  position: fixed;
  z-index: 1000;
  top: 0px;
}

.nav-bar-left {
  flex: 2;
}

.nav-logo-container {
  padding-left: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-logo i {
  color: white;
  clear:both;
}

.nav-bar-right {
  flex: 1;
}

.nav-menu-container {
  width: 319px;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-menu-container i {
  font-size: 20px;
  color: #0C121E;
  opacity: .8;
}

.nav-menu-container i:hover {
  opacity: 1;
}

.nav-btn-grp {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: Arial, serif;
  font-weight: 600;
}

.nav-btn-grp:first-of-type div {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 3;
  font-size: 14px
}

.nav-btn-grp:first-of-type p {
  flex: 2;
  border-radius: 5px;
  padding: 8px;
  cursor: pointer;
}

.nav-btn-grp:first-of-type p:hover {
  background-color: #004C24;
}

.lng-2 {
  flex: 2;
}

.lng-1 {
  flex: 1;
}

.nav-fr-dropdown {
  left: 200px;
  top: 222px;
  height: 400px;
  min-width: 430px;
  position: relative;
  background-color: white;
  border: 1px solid #C1C1C1;
  color: #474747;
}

.fr-dropdown-header {
  height: 16px;
  padding: 8px 12px 6px 12px;
  border-bottom: 1px solid #E9EAED;
  font-weight: bold;
  font-family: Helvetica, Arial, sans-serif;
}

.fr-dropdown-header p {
  font-size: 12px;
}

.fr-dropdown-item {
  height: 48px;
  padding: 6px 12px;
  display: flex;
  justify-content: space-between;
}

.fr-dropdown-item div:nth-child(2) {
  border: 2px solid red;
}

.fr-dropdown-item img {
  height: 48px;
  width: 48px;
}
