#photos-container {
  height: 800px;
  width: 100%;
  background-color: #FDFFFB;
  margin-top: 20px;
  border: 1px solid #D3D6DB;
}

#photos-grid {
  margin-top: 3px;
}

#photos-grid ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-around;
  margin: 0 3px;
}

.photos-grid-item-container {
  border: 1px solid #D3D6DB;
  width: 206px;
  height: 206px;
  margin-bottom: 3px;
}

.photos-grid-item-container img {
  height: 100%;
  width: 100%;
}
