
#profile-feed {
  height: 100%;
  width: 851px;
  margin: auto;
}

#prof-header-container {
  width: 100%;
  border: 1px solid #D3D6DB;
  border-top: none;
}

#prof-cvr-photo{
  background-color: #1D2129;
  height: 205px;
  color: white;
}

#prof-pic {
  border: 1px solid grey;
  height: 168px;
  width: 168px;
  margin-top: 55px;
  margin-left: 15px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 3px;
}

.edit-ppic-overlay {
  margin-top: 109px;
  background-color: black;
  height: 50px;
  width: 95%;
  opacity: 0;
  z-index: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: .2s opacity;
  cursor: pointer;
}

.edit-ppic-overlay:hover {
  opacity: .7;
}

.edit-ppic-overlay p {
  font-family: Helvetica, Arial, sans-serif;
  opacity: 1;
}

#prof-pic img {
  position: absolute;
  height: 95%;
  width: 95%;
}

#prof-name {
  padding-top: 160px;
  padding-left: 200px;
}

#prof-headline {
  background-color: white;
  height: 34px;
}

#prof-nav-links {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 100%;
}

#prof-nav-links li {
  height: 100%;
  padding: 0 17px;
  border-left: 1px solid #E9EAED;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 700;
  font-family: sans-serif;
  color: #4B4F56;
}

#prof-nav-links li:hover {
  background-color: #eeeeee;
}

#prof-nav-links li:last-of-type {
  border-right: 1px solid #E9EAED;
}

#feed-body {
  display: flex;
  justify-content: space-between;
}

#feed-left {
  width: 323px;
}

.prof-subcomponent {
  background-color: #FDFFFB;
  margin: 15px 0;
}

.prof-subcomponent-header {
  height: 40px;
  display: flex;
  align-items: center;
  padding: 3px 0;
}

.prof-subcomponent-icon-container {
  width: 25px;
  height: 25px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
}


.prof-subcomponent-header i {
  padding: 5px;
  color: #FDFFFB;

}


#intro-widget .prof-subcomponent-icon-container{
  background: #4267B2;
}

.intro-widget-list-item {
  display: flex;
  font-size: 12px;
}

.intro-widget-list-item i {
  color: #9A9EA7;
  cursor: text;
}

.intro-widget-list-item > * {
  padding: 5px 10px;
}

.intro-widget-list-item a {
  font-weight: bold;
  font-family: Helvetica, Arial, sans-serif;
  color: #1A693E;
}
.intro-widget-list-item a:hover {
  text-decoration: underline;
}

#photo-widget {
  padding-bottom: 4px;
}

#photo-widget .prof-subcomponent-icon-container{
  background: #A5D950;
}

.widget-grid ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 4px;

}

.widget-grid ul li {
  height: 101px;
  width: 101px;
  padding: 2px;
}


.widget-item-container {

  height: 101px;
  width: 101px;

}

.widget-item-container img {
  cursor: pointer;
  height: 100%;
  width: 100%;
}

#friend-widget {
  padding-bottom: 4px;
}

#friend-widget .prof-subcomponent-icon-container{
  background: #F50E6B;
}

#feed-right{
  width: 510px;
}

.post-create {
  height: 152px;
}

.post-feed {
  height: 1000px;
}
//coverphoto height: 205px 851w
//headline height: 34px 851w
