#friends-container {
  height: 800px;
  width: 100%;
  background-color: #EFFDDF;
  margin-top: 20px;
  border: 1px solid #D3D6DB;
}

#friends-grid {
  margin-top: 15px;
}

#friends-grid ul {
  display: flex;
  flex-wrap: wrap;
}

.friends-grid-item-container {
  border: 1px solid #D3D6DB;
  width: 390px;
  height: 98px;
  padding-right: 10px;
  margin: 0 0 13px 15px;
}
