.detail-header-container {
  display: flex;
  align-items: center;
  padding: 16px 0 12px 0;
  background-color: #E3F0D4;
  border-bottom: 1px solid #D3D6DB;

}

.detail-header {
  display: flex;
  flex-direction: row;
}

.detail-header > * {
  padding-left: 20px;
  font-size: 20px;
  font-weight: 700;
  color: #9BA391;
}

.detail-header > h4 {
  font-family: Helvetica, Arial, sans-serif;
  color: #4b4f56;
}

#about-container {
  height: 467px;
  width: 100%;
  background-color: #EFFDDF;
  margin-top: 20px;
  border: 1px solid #D3D6DB;

}

#about-body {
  display: flex;
  flex-direction: row;
}

#about-body > * {
  height: 407px;
}

#bio-list {
  padding: 8px 0;
  flex: 10;
  border-right: 1px solid #D3D6DB;
}

#bio-list li {
  padding: 12px 4px 12px 16px;
}

#bio-list p {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #9BA391;
}

#bio-detail {
  flex: 25;

}
