.detail-header-container {
  display: flex;
  justify-content: space-between;
}

.detail-header-buttons {
  padding: 5px;
}

.detail-header-buttons button {
  padding: 8px;
  margin-right: 15px;
  background-color: #FFFFFF;
  border: 1px solid #D3D6DB;
  font-weight: bold;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: #4B4F56;
}

.detail-header-buttons button:hover {
  background-color: #E9EBEE
}
#friends-container {
  height: 800px;
  width: 100%;
  background-color: #FDFFFB;
  margin-top: 20px;
  border: 1px solid #D3D6DB;
}

#friends-grid {
  margin-top: 15px;
}

#friends-grid ul {
  display: flex;
  flex-wrap: wrap;
}

.friends-grid-item-container {
  border: 1px solid #D3D6DB;
  width: 390px;
  height: 98px;
  padding-right: 10px;
  margin: 0 0 13px 15px;
  display: flex;
}

.friends-grid-photo-container {
  height: 100px;
  width: 100px;
}

.friends-grid-photo-container img {
  height: 100%;
  width: 100%;
}

.friends-grid-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 10px;
  width: 70%;

}

.friends-grid-content p {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #005829;
}

#friends-grid-btn {
  border: 1px solid #D3D6DB;
  padding: 4px;
  background-color: #F5F5F5;
  display: flex;
  font-size: 12px;
  align-items: center;
  cursor: pointer;
}

#friends-grid-btn p {
  font-size: 12px;
  color: #4B4F56;
  margin-left: 3px;
}
