.user-post {
  background-color: #FDFFFB;
  margin-bottom: 10px;
}

.post-body-container {
  padding: 12px 12px 0 12px;
  min-height: 79px;
  width: 486px;
  display: flex;
  flex-direction: column;
}



.post-body-heading {
  display: flex;
  justify-content: space-between;
  min-height: 46px;
}

.pbh-left-group {
  display: flex;
}

.post-body-pic {
  height: 40px;
  width: 40px;
  border: 1px solid #E9EAED;
}

.pbh-text {
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pbh-text-users {
  display: flex;
  align-items: center;
  margin-bottom: 3px;
}
.pbh-text-users > * {
  padding-right: 8px;
}

.pbh-text-users p {
  font-family: Helvetica, Arial, sans-serif;
  color: #005829;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
}

.pbh-text-users p:last-of-type {
  padding-left: 2px;
}

.pbh-icons {
  position: relative;
}

.pbh-icons i{
  color: #B5B9BF;
}

.pbh-icons i:hover {
  color: black;
}

.pbh-dropdown {
  position: absolute;
  padding: 5px 0;
  border: 1px solid #CCCCCC;
  background-color: white;
  right: -10px;
  z-index: 1001;
  box-shadow: 3px 3px 10px #888888;
}

.pbh-dropdown li {
  padding: 5px 10px;
}

.pbh-dropdown p {
  font-family: Helvetica, Arial, sans-serif;
  width: 60px;
  padding-bottom: 15px;
  color: black;
}

.pbh-dropdown p:first-of-type {
  border-bottom: 1px solid #E9EAED;

}

.pbh-dropdown p:hover {
  color: green;
  font-weight: bold;
  cursor: pointer;
}

.pbh-dropdown p.pbh-delete {
  border-bottom: none;
  padding-top: 5px;
  padding-bottom: 0;
}

.post-body-content {
  min-height: 33px;
  display: flex;
  align-items: center;
}

.post-body-content p {
  font-size: 13px;
  padding: 10px 0;
}

.user-post-actions {
  padding: 4px 0;
  height: 22px;
  border-top: 1px solid #E9EAED;
  display: flex;
  width: 460px;
  margin: 0 12px;
  align-items: center;
}

.user-post-actions span {
  padding: 0 20px 0 5px;
  display: flex;
  align-items: center;

}

.user-post-actions span p {
  padding-left: 5px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  cursor: pointer;
}

.user-post-actions span p:hover {
  text-decoration: underline;
}

.comment-list-container {
  border-top: 1px solid #E9EAED;
  background-color: #FFFFFF;
}

.comment-list-item {
  min-height: 34px;
  padding: 8px 12px 4px 12px;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  font-family: Helvetica, Arial, sans-serif;
}

.comment-form {
  min-height: 34px;
  padding: 2px 0 8px 0;
  margin: 0 12px;
}

.comment-pic {
  height: 32px;
  width: 32px;
  border: 1px solid #E9EAED;
}

.comment-body-container {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.comment-username {
  font-weight: 700;
  color: #005829;
}

.comment-actions {
  display: flex;
}

.comment-actions p {
  padding-right: 6px;
}

.comment-form {
  display: flex;
  align-items: center;
}

.comment-form input {
  padding: 5px 0 9px 5px;
  width: 446px;
  margin-left: 10px;
}
